[submodule "caravel_user_project"]
	path = caravel_user_project
	url = https://github.com/efabless/caravel_user_project.git
[submodule "tapeouts"]
	path = tapeouts
	url = https://github.com/idea-fasoc/openfasoc-tapeouts.git
	branch = main
[submodule "openfasoc/common/platforms/intel16"]
	path = openfasoc/common/platforms/intel16
	url = git@github.com:ashbir/Intel16-Platform.git
	branch = dev
